header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    border-bottom: 2px black;
}

.table {
    padding: 10px;
}

.table .head {
    font-weight: bold;
    text-align: center;
    background-color: black;
    color: white;
}

.table div {
    box-sizing: content-box;
    min-height: 2rem;
    display: grid;
    grid-template-columns: 30% 30% 20% 20%;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: rgb(228, 228, 228);
    margin: 2px;
    padding: 10px 2px;
}

.search {
    display: flex;
    justify-content: center;
}

.search input {
    font-size: large;
}

.search button {
    box-sizing: border-box;
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    font-size: large;
}

.search *:focus {
    outline-color: black;
}

@keyframes rot {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.svg {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    left: 50%;
    top: 50%;
    margin-top: -250px;
    margin-left: -250px;
}

.svg circle {
    fill: transparent;
    stroke: black;
    stroke-width: 4;
    stroke-dasharray: 25;
    transform-origin: 50% 50%;
    animation-name: rot;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.svg .inner {
    animation-direction: reverse;
}

.alert {
    position: relative;
    left: 50%;
    margin: 5px;
    padding: 10px 25px;
    width: max-content;
    border-radius: 25px;
    text-align: center;
}

.alert .dismiss {
    position: absolute;
    left: 90%;
}